In [1]:
import pandas as pd

In [4]:
pd.read_table?

In [5]:
df = pd.read_table(
    'CommViolPredUnnormalizedData.txt',
    sep=',',
    na_values='?'
)
df.head()

D:\anaconda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: read_table is deprecated, use read_csv instead.
  after removing the cwd from sys.path.

,communityname,state,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,burglaries,burglPerPop,larcenies,larcPerPop,autoTheft,autoTheftPerPop,arsons,arsonsPerPop,ViolentCrimesPerPop,nonViolPerPop
0,BerkeleyHeightstownship,NJ,39.0,5320.0,1,11980,3.10,1.37,91.78,6.50,...,14.0,114.85,138.0,1132.08,16.0,131.26,2.0,16.41,41.02,1394.59
1,Marpletownship,PA,45.0,47616.0,1,23123,2.82,0.80,95.57,3.44,...,57.0,242.37,376.0,1598.78,26.0,110.55,1.0,4.25,127.56,1955.95
2,Tigardcity,OR,NaN,NaN,1,29344,2.43,0.74,94.33,3.43,...,274.0,758.14,1797.0,4972.19,136.0,376.30,22.0,60.87,218.59,6167.51
3,Gloversvillecity,NY,35.0,29443.0,1,16656,2.40,1.70,97.35,0.50,...,225.0,1301.78,716.0,4142.56,47.0,271.93,NaN,NaN,306.64,NaN
4,Bemidjicity,MN,7.0,5068.0,1,11245,2.76,0.53,89.16,1.17,...,91.0,728.93,1060.0,8490.87,91.0,728.93,5.0,40.05,NaN,9988.79

In [6]:
required_columns = [5,6]+list(
    range(11,26))+list(range(32,103))+[145]

In [7]:
df = df.iloc[:,required_columns]
df.shape

(2215, 89)

In [8]:
df.columns

Index(['population', 'householdsize', 'agePct12t21', 'agePct12t29',
       'agePct16t24', 'agePct65up', 'numbUrban', 'pctUrban', 'medIncome',
       'pctWWage', 'pctWFarmSelf', 'pctWInvInc', 'pctWSocSec', 'pctWPubAsst',
       'pctWRetire', 'medFamInc', 'perCapInc', 'NumUnderPov', 'PctPopUnderPov',
       'PctLess9thGrade', 'PctNotHSGrad', 'PctBSorMore', 'PctUnemployed',
       'PctEmploy', 'PctEmplManu', 'PctEmplProfServ', 'PctOccupManu',
       'PctOccupMgmtProf', 'MalePctDivorce', 'MalePctNevMarr', 'FemalePctDiv',
       'TotalPctDiv', 'PersPerFam', 'PctFam2Par', 'PctKids2Par',
       'PctYoungKids2Par', 'PctTeen2Par', 'PctWorkMomYoungKids', 'PctWorkMom',
       'NumKidsBornNeverMar', 'PctKidsBornNeverMar', 'NumImmig',
       'PctImmigRecent', 'PctImmigRec5', 'PctImmigRec8', 'PctImmigRec10',
       'PctRecentImmig', 'PctRecImmig5', 'PctRecImmig8', 'PctRecImmig10',
       'PctSpeakEnglOnly', 'PctNotSpeakEnglWell', 'PctLargHouseFam',
       'PctLargHouseOccup', 'PersPerOccupHous', 'PersPerOwnOccHous',
       'PersPerRentOccHous', 'PctPersOwnOccup', 'PctPersDenseHous',
       'PctHousLess3BR', 'MedNumBR', 'HousVacant', 'PctHousOccup',
       'PctHousOwnOcc', 'PctVacantBoarded', 'PctVacMore6Mos', 'MedYrHousBuilt',
       'PctHousNoPhone', 'PctWOFullPlumb', 'OwnOccLowQuart', 'OwnOccMedVal',
       'OwnOccHiQuart', 'OwnOccQrange', 'RentLowQ', 'RentMedian', 'RentHighQ',
       'RentQrange', 'MedRent', 'MedRentPctHousInc', 'MedOwnCostPctInc',
       'MedOwnCostPctIncNoMtg', 'NumInShelters', 'NumStreet', 'PctForeignBorn',
       'PctBornSameState', 'PctSameHouse85', 'PctSameCity85', 'PctSameState85',
       'ViolentCrimesPerPop'],
      dtype='object')

In [9]:
df.isnull().sum()

population                 0
householdsize              0
agePct12t21                0
agePct12t29                0
agePct16t24                0
agePct65up                 0
numbUrban                  0
pctUrban                   0
medIncome                  0
pctWWage                   0
pctWFarmSelf               0
pctWInvInc                 0
pctWSocSec                 0
pctWPubAsst                0
pctWRetire                 0
medFamInc                  0
perCapInc                  0
NumUnderPov                0
PctPopUnderPov             0
PctLess9thGrade            0
PctNotHSGrad               0
PctBSorMore                0
PctUnemployed              0
PctEmploy                  0
PctEmplManu                0
PctEmplProfServ            0
PctOccupManu               0
PctOccupMgmtProf           0
MalePctDivorce             0
MalePctNevMarr             0
                        ...
PctHousLess3BR             0
MedNumBR                   0
HousVacant                 0
PctHousOccup               0
PctHousOwnOcc              0
PctVacantBoarded           0
PctVacMore6Mos             0
MedYrHousBuilt             0
PctHousNoPhone             0
PctWOFullPlumb             0
OwnOccLowQuart             0
OwnOccMedVal               0
OwnOccHiQuart              0
OwnOccQrange               0
RentLowQ                   0
RentMedian                 0
RentHighQ                  0
RentQrange                 0
MedRent                    0
MedRentPctHousInc          0
MedOwnCostPctInc           0
MedOwnCostPctIncNoMtg      0
NumInShelters              0
NumStreet                  0
PctForeignBorn             0
PctBornSameState           0
PctSameHouse85             0
PctSameCity85              0
PctSameState85             0
ViolentCrimesPerPop      221
Length: 89, dtype: int64

In [12]:
df.shape

(2215, 89)

In [13]:
df.dropna(inplace=True)

In [14]:
df.shape

(1994, 89)

In [18]:
X = df[df.columns[:-1]]
X.head()

,population,householdsize,agePct12t21,agePct12t29,agePct16t24,agePct65up,numbUrban,pctUrban,medIncome,pctWWage,...,MedRentPctHousInc,MedOwnCostPctInc,MedOwnCostPctIncNoMtg,NumInShelters,NumStreet,PctForeignBorn,PctBornSameState,PctSameHouse85,PctSameCity85,PctSameState85
0,11980,3.10,12.47,21.44,10.93,11.33,11980,100.0,75122,89.24,...,23.8,21.1,14.0,11,0,10.66,53.72,65.29,78.09,89.14
1,23123,2.82,11.01,21.30,10.48,17.18,23123,100.0,47917,78.99,...,27.6,20.7,12.5,0,0,8.30,77.17,71.27,90.22,96.12
2,29344,2.43,11.36,25.88,11.01,10.28,29344,100.0,35669,82.00,...,24.1,21.7,11.6,16,0,5.00,44.77,36.60,61.26,82.85
3,16656,2.40,12.55,25.20,12.19,17.57,0,0.0,20580,68.15,...,28.7,20.6,14.5,0,0,2.04,88.71,56.70,90.17,96.24
5,140494,2.45,18.09,32.89,20.04,13.26,140494,100.0,21577,75.78,...,26.4,17.3,11.7,327,4,1.49,64.35,42.29,70.61,85.66

In [17]:
y = df[df.columns[-1]]
y.head()

0     41.02
1    127.56
2    218.59
3    306.64
5    442.95
Name: ViolentCrimesPerPop, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,y_train,y_test = train_test_split(
    X,y,test_size=0.30,random_state = 42
)

In [25]:
from sklearn.linear_model import Ridge

In [26]:
ridgeModel = Ridge(alpha=1)
ridgeModel.fit(X_train,y_train)
ridgeModel.score(X_test,y_test)

0.598701195152752

In [27]:
alpha = [1,10,20,50,100]
scores = {}

In [28]:
for a in alpha:
    ridgeModel = Ridge(alpha=a)
    ridgeModel.fit(X_train,y_train)
    scores[a] = ridgeModel.score(X_test,y_test)

In [29]:
scores

{1: 0.598701195152752,
 10: 0.5984493715530756,
 20: 0.598257995754317,
 50: 0.5982142981171246,
 100: 0.5983241402459718}