In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    {'Land':[2,3,5,7,9],'Price':[4,5,7,10,15]}
)
df

   Land  Price
0     2      4
1     3      5
2     5      7
3     7     10
4     9     15

In [6]:
df['xy'] = df['Land']*df['Price']
df

   Land  Price   xy
0     2      4    8
1     3      5   15
2     5      7   35
3     7     10   70
4     9     15  135

In [7]:
df['xSq'] = df['Land']**2
df

   Land  Price   xy  xSq
0     2      4    8    4
1     3      5   15    9
2     5      7   35   25
3     7     10   70   49
4     9     15  135   81

In [8]:
N = df.shape[0]
N

5

In [10]:
upper = ( 
    ( 
        N*( df['xy'].sum() )
    ) - 
    (
        (df['Land'].sum())*(df['Price'].sum())
    )
)
upper

249

In [11]:
lower = (
    (N*(df['xSq'].sum())) - ((df['Land'].sum())**2)
)
lower

164

In [12]:
m = upper/lower
m

1.5182926829268293

In [13]:
b = (
    ((df['Price'].sum())-(m*(df['Land'].sum())))/(N)
)
b

0.30487804878048763

In [14]:
X = df[['Land']]
X

   Land
0     2
1     3
2     5
3     7
4     9

In [15]:
y = df['Price']
y

0     4
1     5
2     7
3    10
4    15
Name: Price, dtype: int64

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
linModel = LinearRegression()

In [18]:
linModel.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
df.head(2)

   Land  Price  xy  xSq
0     2      4   8    4
1     3      5  15    9

In [21]:
linModel.predict([[2]])

array([3.34146341])

In [22]:
linModel.score(X,y)

0.95953014733193

In [23]:
linModel.intercept_

0.30487804878048674

In [24]:
linModel.coef_

array([1.51829268])

In [25]:
df = pd.DataFrame(
    {'Land':[1,3,5,7,10],'Price':[1,4,7,15,25]}
)
df

   Land  Price
0     1      1
1     3      4
2     5      7
3     7     15
4    10     25

In [27]:
X = df[['Land']]
X

   Land
0     1
1     3
2     5
3     7
4    10

In [28]:
y = df['Price']
y

0     1
1     4
2     7
3    15
4    25
Name: Price, dtype: int64

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
linModel = LinearRegression()

In [31]:
linModel.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
linModel.predict([ [3] ])

array([4.42213115])

In [33]:
linModel.score(X,y)

0.9602944003635219

In [34]:
from sklearn.metrics import r2_score

### r2score(y_actual,y_predict)

In [35]:
y

0     1
1     4
2     7
3    15
4    25
Name: Price, dtype: int64

In [38]:
y_predict = linModel.predict(X)
y_predict

array([-1.01229508,  4.42213115,  9.85655738, 15.29098361, 23.44262295])

In [39]:
r2_score(y,y_predict)

0.960294400363522

In [40]:
from sklearn.metrics import mean_squared_error

In [42]:
mean_squared_error(y,y_predict)

2.9795081967213113