In [1]:
import pandas as pd

In [2]:
df = pd.read_table('fruit_data_with_colors.txt')
df.head()

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [8]:
df.loc[df['fruit_label']!=1,'fruit_label'] = 0

In [10]:
df['fruit_label'].value_counts()

0    40
1    19
Name: fruit_label, dtype: int64

In [9]:
df.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            0   mandarin      mandarin    86    6.2     4.7         0.80
4            0   mandarin      mandarin    84    6.0     4.6         0.79

In [11]:
X = df[['mass','width','height']]
X.head()

   mass  width  height
0   192    8.4     7.3
1   180    8.0     6.8
2   176    7.4     7.2
3    86    6.2     4.7
4    84    6.0     4.6

In [12]:
y = df['fruit_label']
y.head()

0    1
1    1
2    1
3    0
4    0
Name: fruit_label, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test = train_test_split(
    X,y,test_size=0.30,random_state=42
)

In [15]:
from sklearn.linear_model import LogisticRegression

In [17]:
logisticModel = LogisticRegression()
logisticModel.fit(X_train,y_train)

D:\anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
X_test.head()

    mass  width  height
0    192    8.4     7.3
5     80    5.8     4.3
34   142    7.6     7.8
13   164    7.3     7.7
45   186    7.2     9.2

In [23]:
y.head()

0    1
1    1
2    1
3    0
4    0
Name: fruit_label, dtype: int64

In [24]:
logisticModel.predict([[192,8.4,7.3],[186,7.2,9.2]])

array([1, 0], dtype=int64)

In [25]:
logisticModel.score(X_test,y_test)

0.5555555555555556

In [26]:
logisticModel.score(X_train,y_train)

0.8292682926829268

In [27]:
df = pd.read_table('fruit_data_with_colors.txt')
df.head()

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [28]:
X = df[['mass','width','height']]
X.head()

   mass  width  height
0   192    8.4     7.3
1   180    8.0     6.8
2   176    7.4     7.2
3    86    6.2     4.7
4    84    6.0     4.6

In [29]:
y = df['fruit_label']
y.value_counts()

3    19
1    19
4    16
2     5
Name: fruit_label, dtype: int64

In [31]:
X_train,X_test,y_train,y_test = train_test_split(
    X,y,test_size=0.30,random_state=42
)

In [32]:
logisticModel2 = LogisticRegression()
logisticModel2.fit(X_train,y_train)

D:\anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
logisticModel2.score(X_test,y_test)

0.6111111111111112

In [34]:
X_test.head()

    mass  width  height
0    192    8.4     7.3
5     80    5.8     4.3
34   142    7.6     7.8
13   164    7.3     7.7
45   186    7.2     9.2

In [36]:
y_test.head()

0     1
5     2
34    3
13    1
45    4
Name: fruit_label, dtype: int64