1. Variables
2. operators
2. input,print
3. conditional statements
4. Loops (for,while) for-else
5. Strings
       Indexing , slicing, methods in strings
6. List,tuple,sets,dictionary
7. functions
    a) Predefined
    b) User defined
            1. Required arguments
            2. keywords arguments
            3.Default arguments
            4.Variable length argument
    c) Anonymous function
8. Regular Expressions
9. Files

In [1]:
def addition(num1,num2):
    return num1+num2

In [8]:
addition(10,num2=20)

30

In [9]:
addition(10,num1=20)

TypeError: addition() got multiple values for argument 'num1'

In [10]:
addition(num1=20,30)

SyntaxError: positional argument follows keyword argument (<ipython-input-10-e6bf7f5b60bd>, line 1)

In [11]:
addition(10,num2=30)

40

In [13]:
range(10,20)

range(10, 20)

In [15]:
def addition(a=0,b=0):
    return a+b

In [18]:
addition(1,2)

3

In [20]:
myList = [1,2,7,6]
myList.sort(reverse=True)

In [21]:
myList

[7, 6, 2, 1]

In [22]:
def addition(a,b,*var):
    print(a,b,var,sep='\n')

In [24]:
addition(1,2,3,4,5)

1
2
(3, 4, 5)

['maths','phy','chem']

In [26]:
myList = [[10,30,40],[50,60,70],[70,80,90]]

print(list(map(lambda x:x[1],myList)))

[30, 60, 80]

In [ ]:
#result = [30,60,80]

In [27]:
myList = [10,20,30,40,50]

print(list(map(lambda x:x+2,myList)))

[12, 22, 32, 42, 52]

In [28]:
myList = [50,60,33,40,7]
print(list(filter(lambda x:x%2==0,myList)))

[50, 60, 40]

In [29]:
myList = [[10,30,40],[50,60,70],[70,80,90]]

print(list(filter(lambda x:sum(x)>100,myList)))

[[50, 60, 70], [70, 80, 90]]

In [30]:
# [''maths','phy','chem']
students = [[10,30,15],[15,40,10],[5,15,11]]
# order the list in ascending based on 'chem' marks
#[[15,40,10],[5,15,11],[10,30,15]]

In [31]:
students.sort(key= lambda x:x[2])

In [32]:
students

[[15, 40, 10], [5, 15, 11], [10, 30, 15]]

#### Regular Expressions
    Its is a way to check the given data is valid
    for my rule or not
    and Exctracting required sub data from data

In [33]:
import re

##### re.search(str_pattern,str_data)

In [34]:
name = 'sairam'
print(re.search('a',name))

<re.Match object; span=(1, 2), match='a'>

In [35]:
name = 'saaairam'
print(re.search('a',name))

<re.Match object; span=(1, 2), match='a'>

In [36]:
name = 'sairam'
print(re.search('aa',name))

None

In [38]:
name = 'saaairam'
print(re.search('aa',name))

<re.Match object; span=(1, 3), match='aa'>

re.match(str_pattern,str_data)

In [41]:
name = "sairam"
print(re.match("sr",name))

None

In [42]:
name = "sairam"
re.match("a",name)

re.findall(str_pattern,str_data)

In [43]:
name = 'sairam'
re.findall("a",name)

['a', 'a']

In [44]:
name = 'sairam'
re.findall("z",name)

[]

In [45]:
name = 'saaairaam'
re.findall('aa',name)

['aa', 'aa']

### Special char in re

.               any single char

In [50]:
re.search('..',' sairam')

In [51]:
names = ['sairam','ram','lakshmi']
for name in names:
    if re.search('....',name):
        print(name)

sairam
lakshmi

^  starts with

In [52]:
re.search('^a','sairam')

In [53]:
re.search('^s','sairam')

$   Ends with

In [54]:
re.search('m$','sairam')

In [55]:
re.search('sam$','sairam')

In [56]:
names = ['sairam','ram','sai','lakshmi']
for name in names:
    if re.match('^...$',name):
        print(name)

ram
sai

{min,max}

In [58]:
names = ['sairam','ram','sai','lakshmi']
for name in names:
    if re.search('^.{3,6}$',name):
        print(name)

sairam
ram
sai

In [61]:
re.search('.{2,5}','sairam')

In [64]:
re.search('.{2,}','sairam')

\d any single digit

In [65]:
re.search('\d','sairam123')

In [66]:
re.search('\d\d','sairam123')

In [67]:
re.search('\d{2}','sairam123')

\D other than digit

In [68]:
re.search('\D','123sairam')

In [70]:
mobiles = [
    '9848022338',
    '98480223381',
    '5984802233',
    '9848a22338'
]
for mobile in mobiles:
    if re.search('^\d{10}$',mobile):
        print(mobile)

9848022338
5984802233

In [81]:
mobiles = [
    '9848022338',
    '98480223381',
    '8848022338',
    '5984802233',
    '9848a22338'
]
for mobile in mobiles:
    if re.match('^[9876]\d{9}$',mobile):
        print(mobile)

9848022338
8848022338

[123]

In [71]:
re.search('[157]','sairam1')

In [73]:
re.search('[157]','sairam71')

In [82]:
re.search('[^15]','157')

\s any single space char

In [83]:
re.search('\s','sai ram')

\S other than space char

In [84]:
re.search('\S','    ram')

\w  select valid identifier 
    a to z
    0 to 9
    _

In [86]:
re.search('\w','    _ram')

\W other than identifiers

In [87]:
re.search('\W','sairam123_ ')

#### working with files in python

In [89]:
fh = open('novel.txt','r')
data = fh.read()
print(data)
fh.close()

line 1
line 2
line 3

In [91]:
fh = open('novel.txt','r')
count = 0
for Line in fh:
    count+=1
print(count)
fh.close()

3

In [94]:
fh = open('novel.txt','r')
data = fh.read()
data = fh.read()
print(data)
fh.close()

In [96]:
fh = open('novel.txt','r')
data = fh.readline()
data = fh.readline()
print(data)
fh.close()

line 2

In [97]:
fh = open('novel.txt','r')
data = fh.readlines()
print(data)
fh.close()

['line 1\n', 'line 2\n', 'line 3']

In [99]:
fh = open('book.txt','w')
content = 'No one has story'
fh.write(content)
fh.close()

In [100]:
fh = open('book.txt','w')
print(fh.read())
content = 'No one has story'
fh.write(content)
fh.close()

UnsupportedOperation: not readable

In [102]:
fh = open('book.txt','r')
content = 'No one has story'

fh.close()
fh.write(content)

ValueError: I/O operation on closed file.

In [103]:
fh = open('book.txt','a')
fh.write("Hello")
fh.close()

In [105]:
fh = open('book.txt','r+')
fh.write('Every one has story')
print(fh.read())

fh.close()

as story

In [106]:
fh = open('book.txt','r')
print(fh.tell())
print(fh.read())
print(fh.tell())
fh.close()

0
Every one has storyas story

28

In [108]:
fh = open('book.txt','r')
print(fh.tell())
print(fh.read())
print(fh.tell())
fh.seek(5)
print(fh.tell())
print(fh.read())
fh.close()

0
Every one has storyas story

28
5
 one has storyas story

In [124]:
fh1 = open('book.txt','r')
fh2 = open('reportStudent.txt','w')
first_row = fh1.readline()

fh2.write(first_row.strip()+'\tTotal\n')
rows = fh1.readlines()

for Line in rows:
    marks = list(
        map(int,Line.strip().split()[1:])
    )
    total = sum(marks)
    fh2.write(Line.strip()+'\t'+str(total)+'\n')

fh1.close()
fh2.close()

['90', '80']
170
['80', '90']
170
['50', '60']
110
['70', '40']
110

In [118]:
'   ram   '.strip()

'ram'