In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'Transaction ID':[1,2,3,4,5],
    'Bread' : [1,1,0,1,1],
    'Milk' : [1,0,1,1,1],
    'Beer' : [0,1,1,1,0],
    'Eggs':[1,0,1,0,0],
    'Cola' : [0,0,1,0,0]
})
df

   Transaction ID  Bread  Milk  Beer  Eggs  Cola
0               1      1     1     0     1     0
1               2      1     0     1     0     0
2               3      0     1     1     1     1
3               4      1     1     1     0     0
4               5      1     1     0     0     0

In [4]:
from mlxtend.frequent_patterns import (
    apriori,
    association_rules
)

In [9]:
data_df = df[df.columns[1:]]

In [12]:
freq_items = apriori(data_df,use_colnames=True)
freq_items

   support       itemsets
0      0.8        (Bread)
1      0.8         (Milk)
2      0.6         (Beer)
3      0.6  (Bread, Milk)

#### support for item X
                            total occurance of x
                           -------------------------
                             total transaction

In [16]:
rules = association_rules(freq_items,min_threshold=0.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8